<% layout('./layouts/boilerplate') %>
  <form action="/makecampground" method="post" validate>
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="cg[title]" required>
    </div>
    <p></p>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="cg[location]" required>
    </div>
    <button>Submit</button>
  </form>

  </body>

  </html>